/* NavBar.module.css */
.navBar {
  background: linear-gradient(to bottom, #000, transparent 80%);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.logoContainer {
  margin-right: auto;
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navbarButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .navbarButtons li a:hover,
.navbarButtons li a:focus {
  color: transparent;
} */

.navbarButtons li {
  margin-left: 20px;
  width: 40px;
  margin-right: 0px;
  height: 40px;
}

.navbarButtons li a img {
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20%;
  transition: transform 0.3s ease; /* Ensures the scaling is smooth */
  display: block; /* Ensures the image takes the block layout */
  width: 45px; /* Or your specified width */
  height: 40px; /* Maintains aspect ratio */
}

.navbarButtons a {
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition for background and color */
  display: block; /* Makes the link encompass the full area of its content */
  background: none; /* Explicitly no background */
  border: none; /* No borders */
  text-decoration: none; /* No underline */
  color: white; /* Text color */
}

.navbarButtons a:hover,
.navbarButtons a:focus {
  background: none !important; /* Ensures no background on hover/focus */
  color: hsl(235, 18%, 63%); /* Change text color for visual feedback */
}

.navbarButtons a img {
  transition: transform 0.3s ease; /* Smooth transition for transform effects */
  display: block; /* Block display to remove bottom space */
  width: 40px; /* Adjust width as necessary */
  height: 40px; /* Adjust height automatically */
}

.navbarButtons a:hover img,
.navbarButtons a:focus img {
  transform: scale(1.1); /* Enlarge images on hover/focus */
}
